[submodule "external/cpputils"]
	path = external/cpputils
	url = https://github.com/TNTzx/cpputils
[submodule "external/cppconsmenu"]
	path = external/cppconsmenu
	url = https://github.com/Uncubically/cppconsmenu
